*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FEF8F5;
    font-family: 'Arial';
}

header{
    background: #fff;
    
    color: #8C837F;
 
    padding: 1rem;
    display: flex;
    border-bottom: #F1EBE9 solid 4px;
    justify-content: space-around;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}

header .navbar{
    background: #ffff;
}

header .navbar a, select#dropdown-content{
    background-color: #ffff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: .2rem;
    padding: 0.5rem 1rem;
    
   
   
}
header .logo{
    font-size: 2.5rem;
   
    background: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    color: #8C837F;
}

header .navbar a:hover{
    color: #EB5D1E;
}



.btn{
    background: #EB5D1E;
    color: #FEF6F2;
    padding: 0.8rem 1.7rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    
    font-size: 1.3rem;
}
.btn a:hover{
    color: #fff;
}

.services{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    

}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2.2rem 0;
}

.text1{
    color: #CBC0BB;
    font-weight: bold;
    font-size: 2rem;
}

.text2{
    font-weight: bold;
    font-size: 2.5rem;
}

.horizontal-rule{
    
    align-self: center;
    width: 5rem;
    height: 2px;
    background: #EB5D1E;
    margin: 1rem 0;
}

.content-box{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.container{
    margin: .5rem .5rem;
    background-color: #ffff;
    
    width: 22%;
    padding: 1rem 1rem;
    /* #F1EBE9 */
    box-shadow: 0 0.5rem 1rem #F1EBE9;
    border: #F9F7F8 solid 4px;
    border-radius: 1.5rem;
}

.content{
    background-color: #ffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: .5rem .5rem;
   
}

.heading{
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize;
}

.matter{
    margin: 1rem 0;
    font-size: 1.2rem;
    background-color: #fff;
    line-height: 2rem;
}
i{
    font-size: 2.5rem;
    color: #EF7F4D;
    margin: 1rem 0;
}

#arrow{
    position: absolute;
    right: 2%;
    font-size: 1rem;
    color: #fff;
    padding: 1rem 1rem;
    background-color: #EB5D1E;
    margin: 1rem 0;
    border-radius: .5rem;
}

.dropdown{
    display:inline;
    color: #000;
    border: none;
    padding: 0;
    outline: none;
   
}
select#dropdown-content {
    border:0px;
    outline:0px;
    margin: 0;
    color: #8C837F;
  }